#corps {
	padding:5px;
	max-height:80%;
	vertical-align:middle;
}
.line {
  display:inline;
  width:99%;
  margin-bottom: 50px;
}
.dispenser {
  display:inline-block;
  width:33%;
  height:30%;
  text-align: center;
  border-radius:5px;
	border-width:3px 3px 3px 3px;
	border-style:dashed;
	border-color:#010101;
	padding:5px;
  margin:2px;
  margin-bottom: 20px;
}

br {
  margin:0,3em;
}
