#data_window {
  position: absolute;
  z-index:0;
  width:100%;
}

#corps {
  min-width:90%;
	padding:5px;
	max-height:80%;
	vertical-align:middle;
}
.line {
  display: block;
}
.dispenser {
  display:inline-block;
  width:10%;
  height:30%;
  text-align: center;
  border-radius:5px;
	border-width:3px 3px 3px 3px;
	border-style:dashed;
	border-color:#212121;
  background-color: #1aff1a;
	padding:5px;
  margin-bottom: 20px;
}

.space{
  margin:3%;
}

br {
  margin:0,3em;
}

.detail_window {
  display:none;
  border-radius:5px;
  border-width:3px 3px 3px 3px;
  border-style:dashed;
  border-color:#7F7F7F;
  background-color: white;
  position: relative;
  text-align: center;
  vertical-align:middle;
}

.network_window {
  display: none;
  border-radius:5px;
  border-width:3px 3px 3px 3px;
  border-style:dashed;
  border-color:#7F7F7F;
  background-color: white;
  position: relative;
  text-align: center;
  vertical-align:middle;
}
